@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div>
        <label>Username:</label>
        @Html.TextBox("username")
    </div>
    <div>
        <label>Password:</label>
        @Html.Password("password")
    </div>
    <div>
        <button type="submit">Login</button>
    </div>

    @if (ViewBag.Error != null)
    {
        <p style="color:red;">@ViewBag.Error</p>
    }
}
